<form action="/submit" method="POST">
  <div class="form-group">
    <input required type="text" name="task" class="form-control" id="todo-title" placeholder="add todo title">
  </div>
    <div class="form-group">
    <input required type="email" name="email" class="form-control" id="todo-email" placeholder="name@example.com">
  </div>
  <div class="form-group">
    <select required class="form-control" id="priority" name="priority">
      <option>Low</option>
      <option>Medium</option>
      <option>High</option>
    </select>
  </div>
    <button type="submit" class="btn btn-primary">Add To Do Item</button>
</form>